[Unit]
Description=Prometheus Miner Exporter (miner01)
Documentation=https://github.com/tarmolehtpuu/miner-exporter

[Service]
Type=simple
Restart=on-failure

User=prometheus
Group=prometheus

EnvironmentFile=/etc/default/miner-exporter/miner01
ExecStart=/usr/bin/java \
    -server \
    -Xms128m \
    -Xmx256m \
    -jar /opt/miner-exporter/miner-exporter.jar
ExecStop=/bin/kill -15 $MAINPID

StandardOutput=append:/var/log/prometheus/miner01.log
StandardError=append:/var/log/prometheus/miner01.log

SuccessExitStatus=143
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target⏎
